@model ProductsListViewModel
    
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value=""
                   name="searchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-primary">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>
@foreach(var p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled ="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category ="@Model.CurrentCategory"class="btn-group m-1"></div>